Package: DEER
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Homepage: http://aksw.org/Projects/deer.html
Depends: openjdk-6-jre | sun-java6-jre
Maintainer: Mohamed Sherif <sherif@informatik.uni-leipzig.de>
Description: RDF Data Extraction and Enrichment Framework.
Distribution: ldstack-nightly
